{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    {% block page_titulo %}
    Adicionar Compromisso  
    {% endblock page_titulo %}
        

    {% block content %}
    <div class="pai" style="margin-top: 10px; align-items: center; text-align: center;">
        <div class="filho" >

            <h2 style="text-align: center;"><img src="{% static 'img/logomarca.png' %}" alt=""> Adicionar Compromisso</h2>
            <br><br>
            <form method="post" action="{% url 'add_compromisso' %}">
        {% csrf_token %}
        <b>{{ form.as_p }}</b>
        <button type="submit"><img src="{% static 'img/salvar.png' %}" alt=""> Salvar</button>
    </form>
    
</div>
</div>
{% endblock content %}

