{% extends "base.html" %}
{% load static %}
{% block page_titulo %}
Detalhes do Compromisso
{% endblock page_titulo %}

{% block content %}
<div class="container-fluid" style="background: white;">
    <div>
        <center><img src="{% static 'img/logo.png' %}" alt="">
            <p><strong>Compromisso: </strong>{{ compromisso.titulo }}</h1>
                <p><strong>Data:</strong><i> {{ compromisso.data|date:"d" }} de {{ compromisso.data|date:"F" }} de {{ compromisso.data|date:"Y" }}</i></p>
                <p><strong>Hora:</strong> {{ compromisso.hora }}</p>
                <p><strong>Descrição:</strong> {{ compromisso.descricao }}</p>
                {% if compromisso.concluido %}
                <p><strong>Status<img src="{% static 'img/concluido.png' %}" alt="" style="width: 24px;height: 24px;"> Concluído</strong></p>
                {% else %}
                <p><strong>Status<img src="{% static 'img/pendente.png' %}" alt="" style="width: 24px;height: 24px;"> Pendente</strong></p>
                {% endif %}
                    
                <!-- Link para editar -->
                <a href="{% url 'compromisso_edit' pk=compromisso.pk %}"><img src="{% static 'img/edit.png' %}" alt="">Editar</a>
                
                {% if not compromisso.concluido %}
                <a href="{% url 'marcar_concluido' compromisso_id=compromisso.id %}"><img src="{% static 'img/concluido.png' %}" alt="" style="width: 24px;height: 24px;">Marcar como Concluído</a>

                    {% else %}
                     
                {% endif %}
                    
                <!-- Link para excluir -->
                <a href="{% url 'compromisso_delete' pk=compromisso.pk %}"><img src="{% static 'img/delete.png' %}" alt="">Excluir</a>

                <a href="{% url 'show_cal' %}"><br><img src="{% static 'img/calendario.png' %}" alt="Logo" style="width: 24px; height: 24px;"> Voltar para o calendário</a>
            </center>
            </div>
        </div>
{% endblock content %}

